﻿@model BlockChainValidation.Models.AdminActionsViewModels.AddRoleViewModel
@{
    ViewData["Title"] = "Add Role";
}

<br>
<h2>Add role for @Model.Email</h2>
<div class="text-danger" asp-validation-summary="All"></div>
<br>
<form asp-controller="AdminActions" asp-action="AddRole">
    <input asp-for="UserId" type="hidden" />
    <select class="btn btn-default dropdown-toggle" asp-for="NewRole" asp-items="Model.Roles">
        <option disabled selected>Select Role to Add</option>
    </select>
    <input class="btn btn-default" type="submit" value="Add Role" />
</form>
<br><br>
<form>
    <button class="btn btn-default" asp-action="RedirectToIndex">Go Back</button>
</form>