﻿@model BlockChainValidation.Models.AdminActionsViewModels.DeleteUserViewModel
@{
    ViewData["Title"] = "Delete User";
}

<br>
<div class="text-danger">
    <h2>Are you sure you want to delete @Model.Email ?</h2>
</div>
<div class="text-danger" asp-validation-summary="All"></div>
<br>
<form asp-controller="AdminActions" asp-action="DeleteUser">
    <input asp-for="UserId" type="hidden" />
    <input class="btn btn-danger" type="submit" value="Delete User" />
</form>
<br><br>
<form>
    <button class="btn btn-default" asp-action="RedirectToIndex">Go Back</button>
</form>

<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>