﻿@model IEnumerable<BlockChainValidation.Models.AdminActionsViewModels.IndexViewModel>
@{
    ViewData["Title"] = "Admin Actions";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Admin Panel</h1>
        <hr />
    </div>
</div>

<table class="table table-striped table-hover table-bordered table-responsive text-nowrap">
    <thead class="lead">
        <tr>
            <th class="text-center">Email</th>
            <th class="text-center">Roles</th>
            <th class="text-center">Options</th>
        </tr>
    </thead>
    <tbody class="text-center nav-justified">
        @foreach (var user in Model)
        {
            var appUser = user.User;
            var roles = user.Roles;
            <tr>
                <td>@appUser.Email</td>
                <td>@string.Join(", ", roles)</td>
                <td style="width:30%">
                    <a class="btn btn-default btn-sm" asp-controller="AdminActions" asp-action="AddRole" asp-route-id="@appUser.Id">Add Role</a>
                    <a class="btn btn-default btn-sm" asp-controller="AdminActions" asp-action="RemoveRole" asp-route-id="@appUser.Id">Remove Role</a>
                    <a class="btn btn-danger btn-sm" asp-controller="AdminActions" asp-action="DeleteUser" asp-route-id="@appUser.Id"><i class="glyphicon glyphicon-trash"></i> Delete User</a>
                </td>
            </tr>
        }
    </tbody>
</table>