﻿@model BlockChainValidation.Models.AdminActionsViewModels.RemoveRoleViewModel
@{
    ViewData["Title"] = "Remove Role";
}

<br>
<h2>Remove a role from @Model.Email</h2>
<div class="text-danger" asp-validation-summary="All"></div>
<br>
<form asp-controller="AdminActions" asp-action="RemoveRole">
    <input asp-for="UserId" type="hidden" />

    @if (Model.Roles.Any())
    {
        <select class="btn btn-default dropdown-toggle" asp-for="RoleToBeRemoved" asp-items="Model.Roles">
            <option disabled selected>Select Role to Remove</option>
        </select>
        <input class="btn btn-default" type="submit" value="Remove Role" />
    }
    else
    {
        <select class="btn btn-default dropdown-toggle" disabled asp-for="RoleToBeRemoved" asp-items="Model.Roles">
            <option disabled selected>No roles</option>
        </select>
        <input class="btn btn-default" type="submit" value="Remove Role" />
    }
</form>
<br><br>
<form>
    <button class="btn btn-default" asp-action="RedirectToIndex">Go Back</button>
</form>