﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<div>
    <article>
        <h2>Synopsis</h2>
        <p>This is a tool to certify and/or verify the validity of various degrees and tittles utilizing the blockchain technology and it's unique characteristics.</p>
        <p>This implementation was developed in the frame of my thesis which was presented at the <strong>Department of Computer Engineering &amp; Informatics</strong> of <strong>University of Patras</strong>.</p>
        <p>Droumpalis Panagiotis,</p>
        <p>November 2018.</p>
        <h4>The source code is available on <a href="https://bitbucket.org/mmlabgr/dpanagiotis-theses/src/master/" target="_blank">bitbucket</a>. </h4>
    </article>
</div>