﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<address>
    Droumpalis Panagiotis<br />
    Department of Computer Engineering & Informatics<br />
    University of Patras<br />
    Greece<br />
</address>

<address>
    <strong>Contact me at:</strong> <a href="mailto:takhs.13@hotmail.com">takhs.13@hotmail.com</a><br />
</address>
