﻿@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Check a degree's validity by utilizing the Ethereum Blockchain</h1>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3 id="connected_text">Connect to Ethereum</h3>               
            <p id="provider_p" style="display: none"><b>Provider: </b><span id="provider"></span></p>             
            <p id="network_p" style="display: none"><b>Network: </b><span id="network"></span></p>              
            <p id="account_p" style="display: none"><b>Account: </b><small><span id="account"></span></small></p>
            <button id="connect_button" class="btn btn-success">Connect</button>
            <button class="btn btn-info" data-target="#help" data-toggle="modal">Need Help?</button>
            <br />
            <h3 class="text-info">How does it work?</h3>
            <p>
                Using the form on this page, select the file you want to check.
                As soon as the file is selected, its unique sha-256 footprint will be calculated and
                by clicking the "Check Degree" button, we will look on the Ethereum blockchain and inform you
                whether the file you entered is a certified degree or not.
            </p>
            <h3 class="text-info">How do you know?</h3>
            <p>
                Universities, schools and other Educational Organizations all around the world, have the ability to
                certify a degree (or some other title) and <u><b>permanently</b></u> store proof on a specifically designed smart contract residing in the Ethereum blockchain.
            </p>
            <p>
                The contract is designed in a way that only the aforementioned organizations have permission to add a degree,
                while making all information publicly available. The whole process is designed to be <u><b>immutable</b></u>, meaning that no one
                can alter the data once it's stored. You don't even have to rely on us! We don't hold any of this information, it is all
                publicly stored on the blockchain, forever! Cool, huh?
            </p>
            <p>
                That means that we now have a way to check whether a degree is valid without getting into the hassle of contacting
                the responsible university (or even worse... getting ahold of a university that no longer exists).
            </p>
            <button class="btn btn-info btn-block" data-target="#contract" data-toggle="modal">Take a look at the contract!</button>
            <h3 class="text-info">Why Blockchain?</h3>
            <p>
                Blockchains, when properly designed, provide a way to immutably store data with an un-hackable audit trail.
                The Ethereum blockchain, enables its users to create smart contracts which amongst many things can be used
                to store and manipulate data.
            </p>
            <p>
                Smart contracts are permanent immutable programmable entities "living" on the Etherium blockchain. Each of them
                has it's own code (its functions) and storage, and always follow the set of rules they were programmed with.
            </p>
            <p>
                Whenever a contract's internal storage is changed, the blockchain updates the smart contract data,
                while also maintaining a history of the previous data.
            </p>
            <p>
                It's these properties that make blockchain the perfect tool to help us build a realiable proof-of-existence application like this.
            </p>
            <h3 class="text-info">I want to know more!</h3>
            <p>
                <a class="btn btn-info btn-block" asp-controller="Home" asp-action="About">Learn more</a>
            </p>
        </div>
        <div class="col-md-8" style="position: -webkit-sticky; position:sticky; top:50px">
            <h3>Select a document and find out if it is a verified degree on the Etherium blockchain.</h3>
            <div class="jumbotron">
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-default">
                            Choose File&hellip; <input type="file" style="display: none;" id="usr_file" />
                        </span>
                    </label>
                    <input type="text" class="form-control text" disabled id="file_name" value="Select the degree's pdf.">
                </div>
                <span class="help-block">
                    <small id="fileInputHelp" class="form-text text-muted">Your file is kept exclusively within the browser and is never shared with us !</small>
                </span>
                <div class="form-group" id="hashForm">
                    <label class="control-label" for="form_hash">Hash of degree's pdf:</label>
                    <input type="text" class="form-control text" disabled id="form_hash" placeholder="This will get auto-completed once a file is selected!">
                </div>
                <div id="file_load_results" style="display: none">
                    <div class="label label-default text-success">
                        <text id="file_size">Bytes of selected file: </text>
                    </div>
                    <br>
                    <div class="label label-default text-success">
                        <text id="sha_result">SHA-256 Hash: </text>
                    </div>
                </div>
                <br />
                <div>
                    <input type="button" id="check_button" class="btn btn-default btn-lg btn-block" value="Check Degree" />
                </div>
            </div>
            <div id="loading" style="display: none">
                <center><img src="~/images/Double Ring-1.3s-65px.svg" alt="Loading..." /></center>
                <!-- spinner by loading.io at https://loading.io/spinner/double-ring -->
            </div>
            <div id="result_success" class="panel panel-success" style="display: none">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">The selected file is indeed a verified degree!</h3>
                </div>
                <div class="panel-body">
                    <img src="~/images/checked.svg" style="width:55px" align="right" alt="Checkmark Image" />
                    <h4>
                        The degree belongs to: <span id="owner"></span>
                    </h4>
                    <small class="text-muted"><span class="glyphicon glyphicon-menu-right"></span> Certified on: <span id="date"></span></small>
                    <br />
                    <small class="text-muted">See the transaction: <a id="tx_link" href="" target="_blank"><span id="tx_hash"></span></a></small>
                </div>
            </div>
            <div id="result_failure" class="panel panel-danger" style="display: none">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">The selected file is <b>NOT</b> a verified degree.</h3>
                </div>
                <div class="panel-body">
                    <img src="~/images/cross.svg" style="width:55px" align="right" alt="Error Image" />
                    <h4>
                        Uh-oh! It looks like this file is not a valid degree.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Help Modal -->
<div class="modal fade" id="help" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header text-center">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title">Connecting to Ethereum</h4>
            </div>
            <div class="modal-body">
                <p>
                    Websites that are directly interacting with smart contracts are called DApps.
                    Instead of the traditional <code>Web-Client ↔ API ↔ Backend-Server</code> schema,
                    a DApp reads data directly from the blockchain and writes data back to it via transactions.
                    Business logic is contained in a smart contract which is deployed on the blockchain.
                </p>
                <p>
                    Since DApps do not interact with an API but instead interact directly with Ethereum and smart contracts,
                    we need to enable our browser to communicate directly with the ethereum network and the smart contracts that exist on it.
                </p>
                <p>
                    The <a href="https://github.com/ethereum/mist" target="_blank">Mist</a> browser developed by Ethereum Team,
                    is an Ethereum enabled browser able to interact with the blockchain.
                    In the future, it’s very likely that all browsers will come with a native tool that allows us to interact with various blockchains,
                    but for now, the best choice is running a very popular browser extension called MetaMask. MetaMask, besides being a wallet,
                    also exposes a javascript SDK that allows us to interact with the ethereum blockchain from within our regular browser, effectively turning
                    any supported browser into an Ethereum enabled browser!
                </p>
                <p>
                    Metamask is currently available for Chrome, Mozilla, and Opera! You can get it by clicking on the image below!
                </p>
                <center><a href="https://metamask.io/" target="_blank"><img src="~/images/metamask-seeklogo.com.svg" width="150" /></a></center>
                <br />
                <p>
                    After installing Metamask, all you have to do is to select the Ropsten network via the drop-down menu in the top-left corner of the Metamask's window!
                    That's it! You are now ready to use the DApp!
                </p>
                <a href="https://github.com/ethereum/go-ethereum/wiki/Command-Line-Options" target="_blank">For more detailed instructions on using Metamask click here.</a>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Transaction fail Modal -->
<div class="modal fade" id="contract" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header text-center">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title">The smart contract</h4>
            </div>
            <div class="modal-body">
                <pre class="pre-scrollable" style="max-height:70vh"><code>
pragma solidity 0.4.25;

contract EthDegreeValidation {
    
    address public owner;
    address public pendingOwner;

    event DegreeAdded(bytes32 indexed _hash, address indexed _by);
    event ModeratorAdded(address _address);
    event ModeratorRemoved(address _address);

    modifier onlyOwner() {
        require(msg.sender == owner, "This function is only available to the \"owner\" address of this contract.");
        _;
    }
    
    modifier onlyMod() {
        require(isMod(msg.sender), "This function is only available to Moderator addresses.");
        _;
    }

    modifier onlyPendingOwner() {
        require(msg.sender == pendingOwner, "This function can only be executed by the pending Owner address.");
        _;
    }
    
    struct DegreeOwnership {
        uint date;
        string name;
    }
    
    struct Moderator {
        //pointer to moderatorsList entry
        uint index;
        //descreption
        string universityName;
    }
    
    mapping (bytes32 => DegreeOwnership) private degrees;
    bytes32[] private sha256HashesOfDegrees;
    
    mapping (address => Moderator) private moderators;
    address[] private moderatorsList;

    //constructor runs only once on contract creation
    constructor() public {
        owner = msg.sender;
        //change pendingOwner so that pendingOwner != 0x0
        pendingOwner = msg.sender;
        //add owner as a moderator
        addModerator(msg.sender, "Contract owner");
        //instead of checking if _sha256ofpdf != 0x0 on every addition of a degree
        addNewDegree("Invalid Hash", 0x0);
    }
    
    function addNewDegree(string _name, bytes32 _sha256ofpdf) onlyMod public {
        //check input string to be < 256bytes ie 8words
        require(bytes(_name).length < 256, "Provided name is of unrealistic length.");
        //check user supplied a name
        require(bytes(_name).length > 0, "A name was not provided.");
        //check if degree already exists/ prevent change on an existing degree
        require(degrees[_sha256ofpdf].date == 0, "This degree is already validated.");
        
        DegreeOwnership storage degree = degrees[_sha256ofpdf];
        
        degree.name = _name;
        degree.date = block.timestamp;
        
        sha256HashesOfDegrees.push(_sha256ofpdf);
        emit DegreeAdded(_sha256ofpdf, msg.sender);
    }
    
    //Add a moderator that can register degrees
    function addModerator(address _moderatorAddress, string _uniName) onlyOwner public {
        //check inputs
        require(_moderatorAddress != address(0x0), "An ethereum address was not provided.");
        require(bytes(_uniName).length > 0, "A university name was not provided.");
        //Ensure _moderatorAddress doesnt already belong to a moderator
        require(!isMod(_moderatorAddress), "This is already a moderator address.");
        
        //Moderator instance to work with
        Moderator storage moderator = moderators[_moderatorAddress];
        //writing the values
        moderator.universityName = _uniName;
        //======================================================================//
        //Non combined version:
        //moderator.index = moderatorsList.length;
        //moderatorsList.push(_moderatorAddress);
        //push returns the new array length so using it here saves a bit of gas
        moderator.index = moderatorsList.push(_moderatorAddress)-1;
        //======================================================================//
        emit ModeratorAdded(_moderatorAddress);
    }
    
    //check if address belongs to a moderator
    function isMod(address _moderatorAddress) public view returns(bool) {
        if (moderatorsList.length == 0) {
            return false;
        }
        if (moderators[_moderatorAddress].index > (moderatorsList.length - 1)) {
            return false;
        }
        return (moderatorsList[moderators[_moderatorAddress].index] == _moderatorAddress);
    }
    
    //remove a moderator
    function removeModerator(address _moderatorAddress) onlyOwner public {
        //Ensure the _moderatorAddress belongs to a moderator
        require(isMod(_moderatorAddress), "The provided address does not belong to a moderator.");
        
        //remove entry from table of moderators
        //initialize rowToDelete and keyToMove in preparation of reorganizement
        uint rowToDelete = moderators[_moderatorAddress].index;
        address keyToMove = moderatorsList[moderatorsList.length-1];
        //3-step reorganizement of unorderedlist:
        //step1 - move the last row to the row we want to delete
        moderatorsList[rowToDelete] = keyToMove;
        //step2 - update the pointer(index) of the Moderator struct
        moderators[keyToMove].index = rowToDelete;
        //step3 - delete last row (underflow check already done at isMod)
        moderatorsList.length--;
        emit ModeratorRemoved(_moderatorAddress);
    }
    
    //return hash of a degree by id (used only if it's needed to transfer degrees to new contract)
    function getDegreeAtIndex(uint _index) public view returns (bytes32) {
        require(_index < sha256HashesOfDegrees.length, "The provided Index is higher than then total number of degrees. There is nothing there.");
        return sha256HashesOfDegrees[_index];
    }
    
    function getDegree(bytes32 _sha256ofpdf) public view returns(bytes32, string, uint) {
        require(degrees[_sha256ofpdf].date != 0, "The provided hash does not belong to any validated degree.");
        return (_sha256ofpdf, degrees[_sha256ofpdf].name, degrees[_sha256ofpdf].date);
    }
    
    function getDegreeCount() public view returns(uint) {
        return sha256HashesOfDegrees.length;
    }
    
    function getModeratorAtIndex(uint _index) public view returns(address) {
        require(_index < moderatorsList.length, "The provided Index is higher than then total number of moderators. There is nothing there.");
        return moderatorsList[_index];
    }
    
    function getModerator(address _moderatorAddress) public view returns(address, uint, string) {
        require(isMod(_moderatorAddress),"The provided address does not belong to a moderator.");
        return (_moderatorAddress, moderators[_moderatorAddress].index, moderators[_moderatorAddress].universityName);
    }
    
    function getModeratorCount() public view returns(uint) {
        return moderatorsList.length;
    }

    function transferOwnership(address _newOwner) onlyOwner public {
        require(_newOwner !=address(0x0), "An ethereum address was not provided.");
        pendingOwner = _newOwner;
    }

    function claimOwnership() onlyPendingOwner public {
        owner = pendingOwner;
    }

}
</code></pre>
            </div>
            <div class="modal-footer">
                <a id="etherscan_link" class="btn btn-info" href="" target="_blank">See the deployed contract on etherscan.io</a>
                <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    document.getElementById('usr_file').addEventListener("change", function (event) {
        handle_file_select(event);
    });

    document.getElementById('check_button').addEventListener("click", function () {
        verifyDegree();
    });

    document.getElementById('connect_button').addEventListener("click", function () {
        init();
    });

    //polling for account changes
    var init = setInterval(myFunc, 1000); 
    function myFunc() {
        detectAccountChange();
    }

</script>
