﻿
@{
    ViewData["Title"] = "Certify Degree";
}

<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Certify that a Degree exists by publishing it on the Ethereum Blockchain</h1>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3 id="connected_text">Connect to Ethereum</h3>
            <p id="provider_p" style="display: none"><b>Provider: </b><span id="provider"></span></p>
            <p id="network_p" style="display: none"><b>Network: </b><span id="network"></span></p>
            <p id="account_p" style="display: none"><b>Account: </b><small><span id="account"></span></small></p>
            <button id="connect_button" class="btn btn-success">Connect</button>
            <button class="btn btn-info" data-target="#help" data-toggle="modal">Need Help?</button>
            <br />
            <div class="alert" id="alerts">
            </div>
        </div>
        <div class="col-md-8" style="position: -webkit-sticky; position:sticky; top:50px">
            <h3>Certify a degree:</h3>
            <div class="jumbotron">
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-default">
                            Choose File&hellip; <input type="file" style="display: none;" id="usr_file" />
                        </span>
                    </label>
                    <input type="text" class="form-control text" disabled id="file_name" value="Select the degree's pdf.">
                </div>
                <span class="help-block">
                    <small id="fileInputHelp" class="form-text text-muted">Your file is kept exclusively within the browser and is never shared with us !</small>
                </span>
                <div class="form-group" id="hashForm">
                    <label class="control-label" for="form_hash">Hash of degree's pdf:</label>
                    <input type="text" class="form-control text" disabled id="form_hash" placeholder="This will get auto-completed once a file is selected!">
                </div>
                <div id="file_load_results" style="display: none">
                    <div class="label label-default text-success">
                        <text id="file_size">Bytes of selected file: </text>
                    </div>
                    <br>
                    <div class="label label-default text-success">
                        <text id="sha_result">SHA-256 Hash: </text>
                    </div>
                </div>
                <br />
                <div class="form-group" id="nameForm">
                    <label class="control-label" for="owner_name">Name of student:</label>
                    <input type="text" spellcheck="false" class="form-control text" id="owner_name" data-toggle="tooltip" data-placement="right" title="" data-original-title="Please type the name EXACTLY as it appears on the official degree file.">
                </div>
                <div class="form-group" id="nameFormVerify">
                    <label class="control-label" for="owner_name_verify">Verify name of student:</label>
                    <input type="text" spellcheck="false" class="form-control text" id="owner_name_verify">
                </div>
                <span id="VerifyNameHelp" class="help-block invisible">
                    <small class="form-text text-danger"> The name and confirmation name do not match. </small>
                </span>
                <div>
                    <input type="button" id="deploy_button" class="btn btn-default btn-lg btn-block" value="Certify Degree" />
                </div>
            </div>
            <div id="loading" style="display: none">
                <center><img src="~/images/Double Ring-1.3s-65px.svg" alt="Loading..." /></center>
                <!-- spinner by loading.io at https://loading.io/spinner/double-ring -->
            </div>
        </div>
    </div>
</div>


<!-- Help Modal -->
<div class="modal fade" id="help" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header text-center">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title">Connecting to Ethereum</h4>
            </div>
            <div class="modal-body">
                <p>
                    Websites that are directly interacting with smart contracts are called DApps.
                    Instead of the traditional <code>Web-Client ↔ API ↔ Backend-Server</code> schema,
                    a DApp reads data directly from the blockchain and writes data back to it via transactions.
                    Business logic is contained in a smart contract which is deployed on the blockchain.
                </p>
                <p>
                    Since DApps do not interact with an API but instead interact directly with Ethereum and smart contracts,
                    we need to enable our browser to communicate directly with the ethereum network and the smart contracts that exist on it.
                </p>
                <p>
                    The <a href="https://github.com/ethereum/mist" target="_blank">Mist</a> browser developed by Ethereum Team,
                    is an Ethereum enabled browser able to interact with the blockchain.
                    In the future, it’s very likely that all browsers will come with a native tool that allows us to interact with various blockchains,
                    but for now, the best choice is running a very popular browser extension called MetaMask. MetaMask, besides being a wallet,
                    also exposes a javascript SDK that allows us to interact with the ethereum blockchain from within our regular browser, effectively turning
                    any supported browser into an Ethereum enabled browser!
                </p>
                <p>
                    Metamask is currently available for Chrome, Mozilla, and Opera! You can get it by clicking on the image below!
                </p>
                <center><a href="https://metamask.io/" target="_blank"><img src="~/images/metamask-seeklogo.com.svg" width="150" /></a></center>
                <br />
                <p>
                    After installing Metamask, all you have to do is to select the Ropsten network via the drop-down menu in the top-left corner of the Metamask's window!
                    That's it! You are now ready to use the DApp!
                </p>
                <a href="https://github.com/ethereum/go-ethereum/wiki/Command-Line-Options" target="_blank">For more detailed instructions on using Metamask click here.</a>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="tx_fail_info" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header text-center">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title">The transaction errored, what caused this?</h4>
            </div>
            <div class="modal-body">
                <h3>Here is a number of reasons that <b>might</b> have caused this transaction to fail.</h3>
                <br />
                <ul>
                    <li><h4>The file is already a verified degree.</h4></li>
                    <text class="text-info">
                        If the file corresponds to an already verified degree the transaction will not go through. Please ensure that the file in not yet certified.
                    </text>
                    <li><h4>You are not authorized to perform this action.</h4></li>
                    <text class="text-info">
                        In order to be able to certify a degree, your ethereum account should be registered as a moderator account.
                        Each university/organization has its own moderator address. Please, ensure that the selected account on Metamask is the account
                        that was registered as a moderator account for your university. The easiest way to tell is to look at the Account field on the
                        connection info in this page. If the account address is colored green you are using a moderator account, if not, it means that
                        the account you have currently selected on Metamask is not a moderator account.
                    </text>
                    <li><h4>The supplied name is too long.</h4></li>
                    <text class="text-info">
                        The smart contract, before accepting a degree, checks if the supplied name is of unrealistic length.
                        This just a safeguard and it should never be a problem when dealing with real-world names.
                    </text>
                    <li><h4>The transaction was not submitted.</h4></li>
                    <text class="text-info">
                        The transaction was not submited in the metamask prompt window.
                    </text>
                </ul>
                <br />
                <p>Still having problems? <a asp-controller="Home" asp-action="Contact">Contact us!</a></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    //check inputs
    document.getElementById('owner_name').addEventListener("input", function (event) {
        name = document.getElementById('owner_name').value;
        verify_name = document.getElementById('owner_name_verify').value;
        if (name || verify_name) {
            if (name !== verify_name) {
                document.getElementById('nameForm').className = "form-group has-error";
                document.getElementById('nameFormVerify').className = "form-group has-error";
                document.getElementById('VerifyNameHelp').className = "help-block";
            } else {
                document.getElementById('nameForm').className = "form-group has-success";
                document.getElementById('nameFormVerify').className = "form-group has-success";
                document.getElementById('VerifyNameHelp').className = "help-block invisible";
            }
        } else {
            document.getElementById('nameForm').className = "form-group";
            document.getElementById('nameFormVerify').className = "form-group";
            document.getElementById('VerifyNameHelp').className = "help-block invisible";
        }
    });

    document.getElementById('owner_name_verify').addEventListener("input", function (event) {
        name = document.getElementById('owner_name').value;
        verify_name = document.getElementById('owner_name_verify').value;
        if (verify_name || name) {
            if (name !== verify_name) {
                document.getElementById('nameForm').className = "form-group has-error";
                document.getElementById('nameFormVerify').className = "form-group has-error";
                document.getElementById('VerifyNameHelp').className = "help-block";
            } else {
                document.getElementById('nameForm').className = "form-group has-success";
                document.getElementById('nameFormVerify').className = "form-group has-success";
                document.getElementById('VerifyNameHelp').className = "help-block invisible";
            }
        } else {
            document.getElementById('nameForm').className = "form-group";
            document.getElementById('nameFormVerify').className = "form-group";
            document.getElementById('VerifyNameHelp').className = "help-block invisible";
        }
    });

    document.addEventListener('readystatechange', function () {
        $('[data-toggle=tooltip]').tooltip();
    });

    document.getElementById('deploy_button').addEventListener("click", function () {
        certifyDegree();
    });

    document.getElementById('usr_file').addEventListener("change", function (event) {
        handle_file_select(event);
    });

    document.getElementById('connect_button').addEventListener("click", function () {
        init();
    });


    //polling for account changes
    var init = setInterval(myFunc, 1000);
    function myFunc() {
        detectAccountChange();
    }

</script>