﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* QR code generator */
#qrCode {
    margin: 15px;
}

.tooltip.right .tooltip-inner {
    background-color: #191b1e;
    color: #f89406;
    min-width: 250px;
    font-size-adjust: none;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #191b1e;
}